<!-- Navbar -->
<!-- <header class="bg-lime-700 text-white shadow-md"> -->
<header class="bg-lime-700 text-white shadow-md sticky top-0 z-50">
    <div class="max-w-7xl mx-auto flex justify-between items-center p-4">
        <div class="flex items-center space-x-2">
            <!-- Logo -->
            <img src="images/banners/3.png" alt="Logo Green Way" class="w-10 h-10" />
            <!-- Título -->
            <h1 class="text-2xl font-bold animate__animated animate__fadeInLeft">Green Way</h1>
        </div>
        @if (!isMenuOpen) {
            <nav class="space-x-6 hidden md:block">
                <a routerLink="/v1/home" routerLinkActive="text-green-300" class="hover:text-green-300">Inicio</a>
                <a routerLink="/v1/services" routerLinkActive="text-green-300" class="hover:text-green-300">Servicios</a>
                <a routerLink="/v1/como-funciona" routerLinkActive="text-green-300" class="hover:text-green-300">Cómo Funciona</a>
                <a routerLink="/v1/contactos" routerLinkActive="text-green-300" class="hover:text-green-300">Contacto</a>
            </nav>
        }
        @if (isMenuOpen) {
            <nav class="md:hidden flex flex-col space-y-2 mt-4 text-center">
            <a routerLink="/v1/home" class="hover:text-green-300">Inicio</a>
            <a routerLink="/v1/services" class="hover:text-green-300">Servicios</a>
            <a routerLink="/v1/como-funciona" class="hover:text-green-300">Cómo Funciona</a>
            <a routerLink="/v1/contactos" class="hover:text-green-300">Contacto</a>
          </nav>
        }
        <button class="md:hidden" (click)="toggleMenu()">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16" />
          </svg>
      </button>
    </div>
</header>